{%- set name_uri = title | lower | replace(" ", "_") -%}
name: {{ name }}
description: |-
  {{ description }}
title: {{ title }}
id: https://data.nbnl.info/ontology/{{ name_uri }}
license: https://www.apache.org/licenses/LICENSE-2.0.txt
imports:
- linkml:types
prefixes:
  linkml: https://w3id.org/linkml/
  nbnl: https://begrippen.netbeheernederland.nl/energiesysteembeheer/nl/page/
  nbility: https://nbility-model.github.io/NBility-business-capabilities-Archi/
  this: https://id.nbnl.info/ontology/{{ name_uri }}/
default_prefix: this
default_range: Tekst

classes:
slots:
enums:
types:
