{%- set name_uri title | lower | replace(" ", "_") -%}
name: {{ name }}
description: |-
  {{ description }}
title: {{ title }}
id: https://data.nbnl.info/ontology/{{ name_uri }}
annotations:
  nbility_function: C.6.2.1. Aansluitingen/allocatiepunten beheren
license: https://www.apache.org/licenses/LICENSE-2.0.txt
source: https://wetten.overheid.nl/jci1.3:c:BWBR0037934&hoofdstuk=2&paragraaf=2.1&z=2025-01-01&g=2025-01-01
comments:
  - Het aansluitingenregister wordt gezamenlijk beheerd door de netbeheerders en bevat zowel fysieke als administratieve gegevens over aansluitingen. Het register is essentieel voor de werking van de energiemarkt omdat het de basis vormt voor processen zoals leverancierswisselingen, verhuizingen en facturatie.
  - De verplichting tot het bijhouden van het aansluitingenregister is vastgelegd in de Informatiecode elektriciteit en gas, vastgesteld door de Autoriteit Consument en Markt (ACM).
imports:
- linkml:types
prefixes:
  linkml: https://w3id.org/linkml/
  nbnl: https://begrippen.netbeheernederland.nl/energiesysteembeheer/nl/page/
  this: https://id.nbnl.info/ontology/{{ name_uri }}/
  nbility: https://nbility-model.github.io/NBility-business-capabilities-Archi/
default_prefix: this
default_range: Tekst

classes:
slots:
enums:
types:
